{% load static %}
{% load widget_tweaks %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sim Convertidora {% endblock %}</title>
    <link rel="icon" href="{% static 'images/iconsim.png' %}" type="image/x-icon">

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home/navbar.css' %}">

    {% block extra_head %}
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid px-4">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'images/logo sim.png' %}" alt="Logo Sim" height="30" class="me-1">
                <span class="fw-bold">SIM CONVERTIDORA</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContenido">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <!-- Enlaces de Pedidos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pedidos
                        </a>   
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'pedidos:listar_pedidos' %}">Listar Pedidos</a></li>
                            <li><a class="dropdown-item" href="{% url 'pedidos:ingresar_pedido' %}">Ingresar Pedidos</a></li>
                        </ul>
                    </li>
                    
                    <!-- Enlaces de Clientes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'clientes:listar_clientes' %}">Listar cliente</a></li>
                            <li><a class="dropdown-item" href="{% url 'clientes:ingresar_cliente' %}">Ingresar cliente</a></li>
                        </ul>
                    </li> 

                </ul>
            </div>   
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
 
<script src="{% static 'vendor/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'vendor/datatables/js/datatables.min.js' %}"></script>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/end_alerts.js' %}"></script>

{% block scripts %}
{% endblock %}

</body>
</html>